---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=6429d334722c4074b1243117221707&q=1.22,1.33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - KG
      Cdn-Proxyver:
      - '1.02'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/26/2022 08:39:40
      Cdn-Edgestorageid:
      - '749'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e9b65cecfaa37d0427ef72536cd579f2
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Potts Point","region":"New South Wales","country":"Australia","lat":-33.87,"lon":151.23,"tz_id":"Australia/Sydney","localtime_epoch":1658824780,"localtime":"2022-07-26
        18:39"},"current":{"temp_c":13.0,"temp_f":55.4,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"humidity":47,"cloud":100,"feelslike_c":10.4,"feelslike_f":50.7,"vis_km":10.0,"vis_miles":6.0,"uv":4.0,"gust_mph":31.3,"gust_kph":50.4}}'
  recorded_at: Tue, 26 Jul 2022 08:39:42 GMT
recorded_with: VCR 3.0.3
