---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2022-07-26&key=6429d334722c4074b1243117221707&q=1.22,1.33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - KG
      Cdn-Proxyver:
      - '1.02'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/26/2022 08:39:41
      Cdn-Edgestorageid:
      - '944'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3c2400019e114f1fbd6515ca0674e156
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Potts Point","region":"New South Wales","country":"Australia","lat":-33.87,"lon":151.23,"tz_id":"Australia/Sydney","localtime_epoch":1658824781,"localtime":"2022-07-26
        18:39"},"forecast":{"forecastday":[{"date":"2022-07-26","date_epoch":1658793600,"day":{"maxtemp_c":17.7,"maxtemp_f":63.9,"mintemp_c":11.3,"mintemp_f":52.3,"avgtemp_c":15.0,"avgtemp_f":59.0,"maxwind_mph":22.1,"maxwind_kph":35.6,"totalprecip_mm":0.6,"totalprecip_in":0.02,"avgvis_km":9.5,"avgvis_miles":5.0,"avghumidity":70.0,"condition":{"text":"Thundery
        outbreaks possible","icon":"//cdn.weatherapi.com/weather/64x64/day/200.png","code":1087},"uv":0.0},"astro":{"sunrise":"06:52
        AM","sunset":"05:11 PM","moonrise":"05:03 AM","moonset":"02:43 PM","moon_phase":"Waning
        Crescent","moon_illumination":"15"},"hour":[{"time_epoch":1658757600,"time":"2022-07-26
        00:00","temp_c":12.8,"temp_f":55.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":321,"wind_dir":"NW","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.0,"precip_in":0.0,"humidity":83,"cloud":7,"feelslike_c":11.8,"feelslike_f":53.2,"windchill_c":11.8,"windchill_f":53.2,"heatindex_c":12.8,"heatindex_f":55.0,"dewpoint_c":10.0,"dewpoint_f":50.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":11.6,"gust_kph":18.7},{"time_epoch":1658761200,"time":"2022-07-26
        01:00","temp_c":12.7,"temp_f":54.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":324,"wind_dir":"NW","pressure_mb":1014.0,"pressure_in":29.93,"precip_mm":0.0,"precip_in":0.0,"humidity":81,"cloud":19,"feelslike_c":11.7,"feelslike_f":53.0,"windchill_c":11.7,"windchill_f":53.0,"heatindex_c":12.7,"heatindex_f":54.9,"dewpoint_c":9.6,"de[...]
